footer {
  display: flex;
  flex-direction: row;
  background-color: #343a40;
  height: 10rem;
  padding-top: 0.4rem;
  justify-content: space-between;
  padding-right: 1%;
  align-items: center; }

.redes {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  margin-top: 1rem; }

footer ul li {
  padding-left: 10px; }

.logos {
  width: 3.5rem;
  height: 3.5rem; }

.contactar {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  width: auto;
  font-size: 0.9rem;
  color: whitesmoke; }

.contactar p {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  color: whitesmoke;
  text-decoration: underline; }

.contactar ul {
  list-style: square; }

nav {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  width: 100%;
  margin-top: 0rem;
  padding-top: 0rem; }

.navbar-dark .navbar-brand {
  color: skyblue;
  font-size: 2.5rem; }

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: deepskyblue; }

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: deepskyblue; }

.navbar-dark .navbar-nav .nav-link.disabled {
  color: skyblue; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: deepskyblue; }

.navbar-dark .navbar-toggler {
  color: skyblue;
  border-color: skyblue; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }

.navbar-dark .navbar-text a {
  color: #fff; }

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #343a40;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.dropdown-item:hover, .dropdown-item:focus {
  color: deepskyblue;
  text-decoration: none;
  background-color: transparent; }

.dropdown-item.active, .dropdown-item:active {
  color: deepskyblue;
  text-decoration: none;
  background-color: transparent; }

.dropdown-item.disabled, .dropdown-item:disabled {
  color: whitesmoke;
  background-color: transparent; }

.dropdown-item {
  color: whitesmoke;
  font-size: 1.1em; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 3px solid rgba(0, 0, 0, 0.15); }

section {
  width: fixed;
  display: flex;
  position: relative; }

.section__contenido {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
  padding-top: 0px;
  margin-top: 1.5rem;
  padding-left: 2%;
  padding-right: 2%; }

.section__contenido2 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 0px; }

.accordion-item button {
  background-color: #343a40;
  color: skyblue;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  width: 70%;
  border: 0px;
  border-radius: 3px; }

.accordion-item button img {
  width: 100%; }

.accordion-body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bolder;
  text-align: center; }

.accordion-item button:hover {
  cursor: pointer; }

.servicios {
  width: 50%; }

input {
  border: none; }

input:focus {
  border: black solid; }

select, input, textarea {
  background-color: #313131;
  color: black;
  font-weight: bolder; }

.form-control {
  display: flex;
  width: 70%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: skyblue;
  background-color: #343a40;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:focus {
  color: #495057;
  background-color: #343a40;
  border-color: skyblue;
  outline: 0;
  box-shadow: 0 0 0 0.01rem skyblue; }

.form-control::placeholder {
  color: skyblue;
  opacity: 2; }

.btn-dark {
  color: skyblue;
  background-color: #343a40;
  border: 3px solid rgba(0, 0, 0, 0.15);
  font-weight: bolder; }

.btn-dark:hover {
  color: deepskyblue;
  background-color: #23272b;
  border-color: #1d2124; }

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }

.video-responsive {
  width: 60%;
  height: 27rem; }

.video-responsive iframe {
  width: 100%;
  height: 100%; }

.banner {
  width: 100%;
  height: 20rem; }

section img {
  width: 100%; }

.indice {
  border: black 3px solid;
  background-color: #343a40;
  z-index: 1000;
  width: 50%;
  height: 60%;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin-top: -1rem; }

.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.formulario2 form {
  padding-left: 20%; }

.mapa {
  width: 70%;
  height: 70%; }

.mapa iframe {
  width: 100%;
  height: 100%; }

.section__video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nosotros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 28rem; }

.objetivo {
  background-color: #343a40;
  z-index: 1000;
  width: 70%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 2%; }

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 1.2rem; }

@media (max-width: 950px) and (min-width: 200px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 3%; }
  .objetivo {
    background-color: #343a40;
    z-index: 1000;
    width: 100%;
    height: auto;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    border-color: 0.15s ease-in-out;
    box-shadow: 0.15s ease-in-out;
    margin: 2%; }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center; }
  nav {
    grid-area: nav;
    position: relative;
    z-index: 1000; }
  .banner {
    width: 100%;
    height: 22rem; }
  .indice {
    margin-left: 10%;
    height: 70%;
    width: 80%;
    margin-right: 2%; }
  section {
    width: 25rem; }
  .section__contenido {
    margin-left: 0.5rem;
    margin-top: 1.5rem; }
  footer {
    display: flex;
    flex-direction: column-reverse;
    background-color: #343a40;
    max-height: auto;
    height: auto;
    min-height: 10.5rem;
    padding-top: 1rem;
    justify-content: center;
    padding-right: 1%;
    align-items: center;
    padding-bottom: 1rem; }
  .redes {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; }
  .video-responsive {
    height: 250; }
  .section__mapa {
    transform: translate(0px, 0px); }
    .section__mapa iframe {
      position: absolute;
      width: 100%; } }

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .indice {
    margin-left: 10%;
    height: 70%;
    width: 75%;
    margin-right: 1%; }
  .banner {
    width: 100%;
    height: 22rem; }
  .carousel-inner {
    height: 27rem; }
  .accordion-item button {
    background-color: #343a40;
    color: skyblue;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 0px; }
  .servicios {
    width: 70%; }
  .video-responsive {
    width: 80%;
    height: 27rem; } }

@media only screen and (max-width: 480px) and (min-width: 300px) {
  .indice {
    margin-left: 10%;
    height: 70%;
    width: 76%;
    margin-right: 1%; }
  .banner {
    width: 100%;
    height: 15rem; }
  .carousel-inner {
    height: 25rem; }
  .accordion-item button {
    background-color: #343a40;
    color: skyblue;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 0px; }
  .servicios {
    width: 70%; }
  h1 {
    font-size: 2rem; }
  .video-responsive {
    width: 90%;
    height: 27rem; } }

header {
  top: 0%;
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 6vw;
  font-family: 'Londrina Solid', cursive;
  font-weight: bolder;
  text-decoration: none;
  color: deepskyblue;
  margin-left: -15%; }

h2 {
  color: deepskyblue;
  font-weight: bold;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 4rem; }

h3 {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  font-size: 2vw; }

.titulo {
  text-align: center; }

.texto {
  text-align: center; }
