footer {
  grid-area: footer;
  margin-left: 0px;
  border-top: 4px solid black; }

footer ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  align-items: flex-end;
  margin-top: 1rem; }

footer ul li {
  padding-left: 10px; }

nav {
  grid-area: nav;
  justify-content: start; }

.btn-group-vertical button a {
  color: deepskyblue;
  text-decoration: none; }

.btn-group-vertical button {
  background-color: #313131;
  border: #313131;
  color: deepskyblue;
  height: 9.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder; }

.btn-group-vertical button:hover {
  background-color: black; }

.dropdown-menu {
  background-color: #313131;
  color: deepskyblue; }

.dropdown-menu a:hover {
  background-color: black;
  color: deepskyblue;
  text-decoration: none; }

.dropdown-menu a {
  color: deepskyblue;
  font-weight: bolder; }

section {
  margin-top: 5rem; }

.section__contenido {
  grid-area: contenido;
  display: grid;
  align-items: center; }

.section__mapa2 {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr , 2fr; }

.section__mapa {
  transform: translate(470px, -470px); }

table {
  border-collapse: collapse;
  align-items: center;
  border-color: black;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bolder; }

table ul {
  list-style-type: square; }

.accordion-item button {
  background-color: #313131;
  color: deepskyblue;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif; }

.accordion-body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bolder; }

.accordion-item button:hover {
  background-color: black; }

input {
  border: none; }

input:focus {
  border: black solid; }

select, input, textarea {
  background-color: #313131;
  color: black;
  font-weight: bolder; }

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 1.2rem; }

@media (max-width: 800px) and (min-width: 250px) {
  .btn-group-vertical {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 5rem; }
  #grilla {
    display: grid;
    grid-template-areas: "nav nav nav" "contenido contenido contenido" "footer footer footer";
    grid-template-columns: 20% auto 10%;
    grid-template-rows: 15% 20% 70% 40%;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #000000, #221b1e, #3b303a, #52485a, #65627d, #697394, #6986ab, #6599c0, #55a5c9, #43b2ce, #36bece, #37c9c9);
    background-attachment: fixed; }
  .btn-group-vertical button {
    background-color: #313131;
    border: #313131;
    color: deepskyblue;
    height: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder; }
  section {
    width: 25rem; }
  footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; } }

#grilla {
  display: grid;
  grid-template-areas: "nav header header" "nav contenido contenido" "nav contenido contenido" "footer footer footer";
  grid-template-columns: 20% auto 10%;
  grid-template-rows: 20% 40% 40% 10%;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #000000, #221b1e, #3b303a, #52485a, #65627d, #697394, #6986ab, #6599c0, #55a5c9, #43b2ce, #36bece, #37c9c9);
  background-attachment: fixed; }

header {
  grid-area: header; }

h1 {
  font-size: 4rem;
  /* 60px */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  margin: 7px; }

@keyframes titulo {
  0% {
    margin-left: 7px; }
  25% {
    margin-left: 9px; }
  50% {
    margin-left: 7px; }
  75% {
    margin-left: 5px; }
  100% {
    margin-left: 7px; } }

h1:hover {
  animation: titulo 200ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

h2 {
  color: deepskyblue;
  text-decoration: underline;
  font-weight: bolder; }
