footer {
    background-color: #343a40;
    height: 7rem;
    padding-top: 0.4rem;
}

footer ul {
    display: flex;
    flex-direction:row;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    margin-top: 1rem;
}

footer ul li {
    padding-left: 10px;
}

