section{
    width: fixed ;
    display: flex;
    position: relative;
    
}
.section__contenido {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
    padding-top: 0px;
    margin-top: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;
}

.section__contenido2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 0px;
    
}

.accordion-item button{
    background-color: #343a40;
    color: skyblue;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    border: 0px; 
    border-radius: 3px;
}

.accordion-item button img {
    width: 100%;

}
.accordion-body {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bolder;
    text-align: center;
    

}
.accordion-item button:hover{
    cursor: pointer;
}

.servicios {
    width: 50%;

}

input {
@extend select ;
border: none;
}
input:focus {
    border: black solid;
}
select {
    background-color: rgb(49, 49, 49);
    color: black;
    font-weight: bolder;
}
textarea {
@extend select
}

.form-control {
    display: flex;
    width: 70%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:skyblue;
    background-color: #343a40;
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color:#343a40;
    border-color: skyblue;
    outline: 0;
    box-shadow: 0 0 0 0.01rem skyblue;
}
.form-control::placeholder {
    color: skyblue;
    opacity: 2;
}


.btn-dark {
    color: skyblue;
    background-color: #343a40;
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-weight: bolder
;
  }
  
  .btn-dark:hover {
    color:deepskyblue;
    background-color: #23272b;
    border-color: #1d2124;
  }
  
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

.video-responsive {
    width: 60%;
    height: 27rem;
}
.video-responsive iframe {
    width: 100%;
    height: 100%;
}

.banner {
width: 100%;;
height: 20rem;

}
section img {
    width: 100%;
}

.indice {
    border: black 3px solid;
    background-color: #343a40;
    z-index: 1000;
    width: 50%;
    height: 60%;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-top: -1rem;
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.formulario2 form{
padding-left: 20%;
}



.mapa {
    width: 70%;
    height: 70%;
}
.mapa iframe{
    width: 100%;
    height: 100%;

}

.section__video {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 28rem;
    
}

.objetivo {
    background-color: #343a40;
    z-index: 1000;
    width: 70%;
    height: 100%;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 2%;
}

.texto {
    text-align: center;
}