section{
    width: fixed ;
    
}
.section__contenido {
    grid-area: contenido;    
    display: grid;
    align-items: left;
    align-content: flex-start;
    justify-content: left;
    justify-items: left;
    width: auto;
    height: auto;
    margin-left: 5rem;
    margin-top: 1.5rem;
}
.section__mapa2 {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr , 2fr;
}
.section__mapa {
    transform: translate(470px, -343px);

    }

table {
    border-collapse: collapse;
    align-items: center;
    border-color: black;
    margin: auto;
    font-family: 'Poppins', sans-serif;   
    color: black;
    font-weight: bolder;
    width: 100%;
    
    
}

table ul {
        list-style-type: square;
}

.accordion-item button{
    background-color: #343a40;
    color: skyblue;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif
}
.accordion-body {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bolder
}
.accordion-item button:hover{
    background-color: black;
}

input {
@extend select ;
border: none;
}
input:focus {
    border: black solid;
}
select {
    background-color: rgb(49, 49, 49);
    color: black;
    font-weight: bolder;
}
textarea {
@extend select
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:skyblue;
    background-color: #343a40;
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color:#343a40;
    border-color: skyblue;
    outline: 0;
    box-shadow: 0 0 0 0.01rem skyblue;
}

.form-control::placeholder {
    color: skyblue;
    opacity: 2;
}
.btn-dark {
    color: skyblue;
    background-color: #343a40;
    border: 3px solid rgba(0, 0, 0, 0.15);
    font-weight: bolder
;
  }
  
  .btn-dark:hover {
    color:deepskyblue;
    background-color: #23272b;
    border-color: #1d2124;
  }
  
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

.video-responsive {
    width: 100%;
    height: 400px;
}
.video-responsive iframe {
    width: 100%;
    height: 300px;
}
.banner {
width: 100%;
position: absolute;
margin-top: 5%;
height: 45%;

}
section img {
    width: 100%;
}

.indice {
    border: black 3px solid;
    background-color: #343a40;
    z-index: 1000;
    width: 50%;
    height: 50%;
    position: absolute;
    margin: 23.5rem;
    margin-left: 21rem;
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

