@import "footer";
@import "navmenu";
@import "section";
@import "fuente";
@import "variables";
@import "responsive";



header {
    top: 0%;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 6vw;
    font-family: 'Londrina Solid', cursive;
    font-weight: bolder;
    text-decoration: none;
    color: deepskyblue;
    margin-left: -15% ;
    
}

h2 {
    color:deepskyblue;
    font-weight: bold;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 4rem;
    

}

h3 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-size: 2vw;

}

.titulo {
    text-align: center;
}
.texto {
    text-align: center;
}

