@import "footer";
@import "navmenu";
@import "section";
@import "fuente";
@import "variables";
@import "responsive";

#grilla {
    display: grid; 
    grid-template-areas:
    "nav nav nav"
    "contenido contenido contenido"
    "footer footer footer";
    grid-template-columns: 20% auto 10%;
    grid-template-rows: 10% 100% 5% 30%;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    height: 100vh;
    width: auto; 
    background-color: whitesmoke; 
    background-attachment: fixed;
}

header {
    grid-area: header;
}
h1 {
    font-size: 5rem; ;
    font-family: 'Londrina Solid', cursive;
    font-weight: bolder;
    text-decoration: none;
    color: deepskyblue;
    margin-left: -4rem ;
}

h2 {
    color:deepskyblue;
    font-weight: bold;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 4rem;
    

}

h3 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;

}

.titulo {
    grid-area: titulo;
    text-align: center;
}

p {
    text-align: center;
}
